render() {
  var results = this.state && this.state.results || [];
  return (
    <div>
      <div>Start Typing</div>
      <input type="text" id="searchtext" onKeyUp={ this.keyup }/>
      <ul id="results">{
        results.map((result, index) => <li key={ index }>{ result }</li>)
      }</ul>
    </div>
  );
}
